
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $Alhares-primary: mat.define-palette(mat.$indigo-palette);
// $Alhares-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $Alhares-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $Alhares-theme: mat.define-light-theme((
//   color: (
//     primary: $Alhares-primary,
//     accent: $Alhares-accent,
//     warn: $Alhares-warn,
//   )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($Alhares-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'MyFont';
    src: url('assets/fonts/HelveticaNeueLT Arabic 75 Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
  font-family:"lightFont" ;
  src: url('assets/fonts/helvetica-neue-lt-arabic-45-light.ttf');
}
  *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

  body{
    margin:0px;
    padding: 0px;
    // background-color: #0c0b38;
    background-color: #070626;
  }
  *{
    box-sizing: border-box;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
